
{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        {% if error_message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>¡Error!</strong> {{error_message}}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-3 p-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Forms</h5>
                    </div>
                </div>
            </div>
            <div class="col p-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Information</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 p-0">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Crear Proyecto
                        </button>
                    </div>
                </div>
            </div>
            <div class="col p-0">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for proyecto in proyectos %}
                                {% with forloop.counter as index %}
                                <tr>
                                    <th>{{index}}</th>
                                    <td><a href="{% url 'proyecto' proyecto.nombre %}">{{ proyecto.nombre }}</a></td>
                                    <td>{{proyecto.descripcion}}</td>
                                    <td>
                                        {% if proyecto.estado == False %}
                                        <span class="badge text-bg-warning">
                                            Pendiente
                                        </span>
                                        {% else %}
                                        <span class="badge text-bg-success">
                                            Finalizado
                                        </span>
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'eliminarProyecto' proyecto.id %}"
                                            class="btn btn-danger">Eliminar</a></td>
                                </tr>
                                {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear un Proyecto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'home' %}" method="post" onsubmit="return validarCampos()">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="" class="form-label">Nombre</label>
                                <input type="text" class="form-control" name="nombre_proyecto" id="nombre_proyecto"
                                    required>
                                <label for="" class="form-label">Descripción</label>
                                <textarea name="descripcion_proyecto" id="" rows="3" class="form-control"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Crear Proyecto</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}